#stanford{
     height:100px;
     width:100%;
     background-color:rgb(178,34,34);
     text-align:left;
}
#search{
      height:45px;
      width:150px;
      background-color:rgb(238,233,233);
      top:30px;
      right:50px;
      position:absolute;
}
.paint-block{
   border-radius:5%;
}
#details{
      height:30px;
      width:100%;
      background-color:rgb(238,233,233);
}
body{
background-image:url("file:///home/hp/Music/sound/433EA28D-5A09-44F6-B6A4-4FB704B1CABF_w610_r0_s.jpg");
background-repeat:no-repeat;
background-size:1000px 500px;
}
#end3{
      height:100px;
      width:900px;
      background-color:rgb(238,233,233);
      top:790px;
      left:50px;
      position:absolute;
}
#smallbox1{
      height:30px;
      width:90px;
      background-color:white;
      top:800px;
      left:200px;
}
#smallbox2{
      width:90px;
      height:20px;
      background-color:rgb(205,192,176);
      top:850px;
      left:700px;
}
#end2{
      height:300px;
      width:100%;
      background-color:rgb(238,233,233);
      top:1200px;
      position:absolute;
}
.box{
   margin:25px 25px 20px 1100px;
   height:30px;
   width:150px;
   background-color:rgb(205,197,191);
   border-radius:5%;
}
#end{
      height:100px;
      width:100%;
      background-color:rgb(178,34,34);
      top:1500px;
      position:absolute;
}
